<h1>blogs/index</h1>
<span>ブログ一覧</span>
<p><%= link_to 'New Blog', new_blog_path %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tr>
    <th>title</th>
    <th>content</th>
    <th>user</th>
  </tr>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.user.name %></td>
        <td><%= link_to '詳細を確認', blog_path(blog.id) %></td>
        <td><%= link_to "編集", edit_blog_path(blog.id) %></td>
        <td><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
