<p>
  <strong>User:</strong>
  <%= @blog.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<% if @blog.image.file != nil %>
<p>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url %>
</p>
<% end %>


<% if @blog.user == current_user %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end %>
<%= link_to 'Back', blogs_path %>